#ds-cookie-consent-form input[type="radio"] {
  margin-right: 5px;
}

#ds-cookie-consent-banner {
  padding: 0px 10px 20px 10px;
  position: fixed;
  bottom: 0px;
  font-size: 14px;
  width: 100%;
  color: #fff;
}

#ds-cookie-consent-banner .container {
  background: #134571;
  padding: 20px;
}
#ds-cookie-consent-banner h3 {
  margin: 0;
}

/* Block component */
#ds-cookie-consent-form .button {
}

/* Element that depends upon the block */
#ds-cookie-consent-form .button__price {
}

/* Modifier that changes the style of the block */
#ds-cookie-consent-form .button--primary {
}
#ds-cookie-consent-form .button--secondary {
}
